USE [master]
GO
/****** Object:  Database [AFILIADOS_{NOMBRE_CANDIDATO}]    Script Date: 03/06/2022 0:01:37 ******/
CREATE DATABASE [AFILIADOS_{NOMBRE_CANDIDATO}]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AFILIADOS_{NOMBRE_CANDIDATO}', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\AFILIADOS_{NOMBRE_CANDIDATO}.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AFILIADOS_{NOMBRE_CANDIDATO}_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\AFILIADOS_{NOMBRE_CANDIDATO}_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AFILIADOS_{NOMBRE_CANDIDATO}].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AFILIADOS_{NOMBRE_CANDIDATO}]
GO
/****** Object:  Table [dbo].[AFILIADOS]    Script Date: 03/06/2022 0:01:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AFILIADOS](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Nombres] [varchar](100) NOT NULL,
	[Apellidos] [varchar](100) NOT NULL,
	[Fecha_nacimineto] [datetime] NOT NULL,
	[Sexo] [varchar](50) NOT NULL,
	[Cedula] [varchar](50) NOT NULL,
	[Numero_Seguridaad_Social] [varchar](50) NOT NULL,
	[Fecha_Resgistro] [datetime] NOT NULL,
	[Monto_Consumido] [int] NOT NULL,
	[idEstatus] [int] NOT NULL,
	[idPlan] [int] NOT NULL,
 CONSTRAINT [PK_AFILIADOS] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESTATUS]    Script Date: 03/06/2022 0:01:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESTATUS](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Estatus] [varchar](50) NOT NULL,
 CONSTRAINT [PK_ESTATUS] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PLANES]    Script Date: 03/06/2022 0:01:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PLANES](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Plann] [varchar](1000) NOT NULL,
	[Monto_Consumido] [int] NOT NULL,
	[Fecha_Registro] [datetime] NOT NULL,
	[Estatus] [varchar](50) NOT NULL,
 CONSTRAINT [PK_PLANES] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AFILIADOS]  WITH CHECK ADD  CONSTRAINT [FK_AFILIADOS_ESTATUS] FOREIGN KEY([idEstatus])
REFERENCES [dbo].[ESTATUS] ([id])
GO
ALTER TABLE [dbo].[AFILIADOS] CHECK CONSTRAINT [FK_AFILIADOS_ESTATUS]
GO
ALTER TABLE [dbo].[AFILIADOS]  WITH CHECK ADD  CONSTRAINT [FK_AFILIADOS_PLANES] FOREIGN KEY([idPlan])
REFERENCES [dbo].[PLANES] ([id])
GO
ALTER TABLE [dbo].[AFILIADOS] CHECK CONSTRAINT [FK_AFILIADOS_PLANES]
GO
/****** Object:  StoredProcedure [dbo].[pro_listar]    Script Date: 03/06/2022 0:01:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create procedure [dbo].[pro_listar]
as
begin

select * from AFILIADOS
end
GO
USE [master]
GO
